.common-heading{
    text-align: center;
   font-size: 4rem;
   margin: 10px;
}

@media only screen and (max-width: 768px) {

  .common-heading{
    text-align: center;
   font-size: 2rem;
   margin: 10px;
}
   
   
   

  }

@media only screen and (max-width: 768px) {

    .footer-short,.footer{
      display : flex;
      flex-direction : column;
      flex-wrap : wrap;
      gap : 2px;
      align-items: center;
      margin-bottom: 20px;
     
     
     
     
  
    }

  
    
    
  }


  /* width */
::-webkit-scrollbar {
  width: 10px;
}

  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888; 
    border : 5px solid transparent;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }




